{% extends 'layout.html' %}

{% block body %}

{% include 'partials/_message.html' %}

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto shadow mt-5 align-self-center">
            <form class="p-3" action="/new" method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Full Name</label>
                    <input name="fullname" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone</label>
                    <input name="phone" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <input type="submit" class="btn btn-success" value="Guardar">
            </form>
        </div>

        <!-- contacts list -->
        <div class="col-6 mt-5">
            {% for contact in contacts %}
            <div class="card mb-1 shadow">
                <div class="card-body py-2 px-3">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title h6">{{ contact.fullname}}</h5>
                        <div>
                            <a href="{{url_for('contacts.update_contact',id=contact.id)}}"
                                class="btn btn-success btn-sm rounded-0">Edit</a>
                            <a href="{{url_for('contacts.delete_contact',id=contact.id)}}"
                                class="btn btn-danger btn-sm rounded-0">Delete</a>
                        </div>
                    </div>
                    <p class="card-text">{{ contact.email }}</p>
                    <p class="card-text">{{ contact.phone }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

        
    
</div>



{% endblock %}