<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contact</title>
</head>
<body>
    <form action="/update/{{contact.id}}" method="POST">
        <input type="text" name="fullname" id="" placeholder="Ingresa tu nombre" value={{contact.fullname}}>
        <input type="email" name="email" id="" placeholder="Ingresa tu email" value={{contact.email}}>
        <input type="text" name="phone" id="" placeholder="Ingresa tu telefono" value={{contact.phone}}>
        <input type="submit" value="Actualizar">
    </form>
</body>
</html>